<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password</h1>
    <form action="/auth/password-reset/reset" method="post">
        <input type="hidden" name="token" value="{{token}}">
        <label for="newPassword">Nueva Contraseña:</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <button type="submit">Restablecer Contraseña</button>
    </form>
</body>
</html>
